.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

#u4833-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u4843-4
{
	font-family: droid-serif-i4, serif;
}

#u4855-4
{
	font-family: droid-serif-i4, serif;
}

#u4849-4
{
	font-family: droid-serif-i4, serif;
}

#widgetu4842_input,#widgetu4842_prompt,#widgetu4853_input,#widgetu4853_prompt,#widgetu4846_input,#widgetu4846_prompt
{
	font-family: droid-serif, serif;
}

#u4857-4
{
	font-family: droid-serif-n7, serif;
}

#u4896-4
{
	font-family: droid-serif-i4, serif;
}

#widgetu4840.frm-sub-st #u4851-4 p,#widgetu4840.frm-subm-err-st #u4852-4 p,#widgetu4840.frm-subm-ok-st #u4850-4 p,#u4897-4
{
	font-family: droid-serif-i7, serif;
}

