#u5722
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u4386
{
	background-color: #AEAEAE;
}

.Header-Shadow
{
	border-width: 0px;
	-pie-box-shadow: 0px 2px 8px #7F7F7F;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #8D1E31;
}

#u4387
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #AEAEAE;
	-webkit-transform: matrix(0,1,-1,0,42,8);
	-ms-transform: matrix(0,1,-1,0,42,8);
	transform: matrix(0,1,-1,0,42,8);
}

#accordionu4391
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u4402-3
{
	border-color: #FFFFFF;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background: transparent url("../../images/menu-icon.png") no-repeat right center;
}

#u4402-3.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: right center;
}

#u4393
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#menuu4394
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4396
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #AEAEAE;
}

#u4396:hover
{
	background-color: #CECECE;
	background-color: rgba(174,174,174,0.6);
	-pie-background: rgba(174,174,174,0.6);
}

#u4396.MuseMenuActive
{
	background-color: #AEAEAE;
	background-color: rgba(174,174,174,1);
	-pie-background: rgba(174,174,174,1);
}

#u4399-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
}

#u4536
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #AEAEAE;
}

#u4536:hover
{
	background-color: #CECECE;
	background-color: rgba(174,174,174,0.6);
	-pie-background: rgba(174,174,174,0.6);
}

#u4536.MuseMenuActive
{
	background-color: #AEAEAE;
	background-color: rgba(174,174,174,1);
	-pie-background: rgba(174,174,174,1);
}

#u4538-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
}

#u4643
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #AEAEAE;
}

#u4643:hover
{
	background-color: #CECECE;
	background-color: rgba(174,174,174,0.6);
	-pie-background: rgba(174,174,174,0.6);
}

#u4643.MuseMenuActive
{
	background-color: #AEAEAE;
	background-color: rgba(174,174,174,1);
	-pie-background: rgba(174,174,174,1);
}

#u4645-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
}

#u4746
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #AEAEAE;
}

#u4746:hover
{
	background-color: #CECECE;
	background-color: rgba(174,174,174,0.6);
	-pie-background: rgba(174,174,174,0.6);
}

#u4746.MuseMenuActive
{
	background-color: #AEAEAE;
	background-color: rgba(174,174,174,1);
	-pie-background: rgba(174,174,174,1);
}

#u4747-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
}

#u4396.MuseMenuActive #u4399-4,#u4536.MuseMenuActive #u4538-4,#u4643.MuseMenuActive #u4645-4,#u4746.MuseMenuActive #u4747-4
{
	border-width: 0px;
	border-color: transparent;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u4392,#u4395,#u4535,#u4640,#u4745,#u4378
{
	background-color: transparent;
}

#u4390
{
	border-color: #000000;
	background-color: #AAAAAA;
}

#u4833-4
{
	background-color: transparent;
	font-size: 14px;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}






